html { 
    background: url('../../background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.centered {
    margin: 0 auto;
    letter-spacing: 1px;
}

#sign-in-card {
    background-color: white;
    height: 500px;
    width: 275px;
    border-radius: 8px;
    box-shadow: -5px 21px 82px 32px rgba(0,0,0,0.71);
    margin-top: 10%;
}

.main-font {
    font-family: 'Fjalla One', sans-serif;
}

#sign-in-text {
    text-align: center;
    padding-top: 20%;
    font-size: 30px;
    letter-spacing: 2px;
    color: #A77E3D;
}

input[type=email] {
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.43);
    width: 100%;
    margin-top: 25px;
    height: 35px;
    
}

input[type=password] {
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.43);
    width: 100%;
    margin-top: 25px;
    height: 35px;
    
}

input::placeholder {
    font-family: 'Fjalla One', sans-serif !important;
    letter-spacing: 1px;
    font-size: 13px;
    color: #A77E3D;
}

form {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit] {
    border-radius: 15px;
    border: none;
    width: 50%;
    margin-top: 20px;
    height: 35px;
    margin-left: 25%;
    font-family: 'Fjalla One', sans-serif !important;
    letter-spacing: 2px;
    font-size: 13px;
    background-color: #A77E3D;
    filter: brightness(150%);
    box-shadow: 2 20 5 100px 100px rgba(0, 0, 0, 0.1);
    color: white;
}

#or-login-text {
    text-align: center;
    padding-top: 60px;
    opacity: .5;
    font-size: 13px;
}

.icon-div {
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 24%;
}

.shadow {
    opacity: .85;
}


